
  .container {
    position: relative;
    box-shadow: 2px 2px 2px 2px #0f1216;
    background-color: rgb(248, 246, 246);
    width: 85%;
    padding: 40px 40px 40px 40px;
  }

  .columns{
      padding: 0 10px 0 10px;
  }
h1{
    color: rgb(237, 47, 73);
}
h2{
    color: rgb(237, 47, 73);
    font-size: medium;
}

input{
  width: 25%;
	background: rgb(247, 246, 246);
	border: 3px solid rgba(101, 97, 97, 0.4);
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

input:focus{
    border: 3px solid #00ff95;
	outline: none;
	box-shadow: 3px 0px 30px rgba(0, 0, 0, 0.4);
}
